@import 'tailwindcss';

@theme {
  --color-background-primary: #141718;
  --color-background-secondary: #232627;

  --color-stroke-primary: #676767;

  --color-text-secondary: #d7d7d7;
  --color-text-tertiary: #8e9295;

  --font-poppins: 'Poppins', sans-serif;

  --animate-typing: typing 0.8s ease-in-out infinite;

  @keyframes typing {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
}
