@import 'tailwindcss';

@theme {
  --color-background-primary: #141718;
  --color-background-secondary: #232627;

  --color-stroke-primary: #676767;

  --color-text-secondary: #d7d7d7;
  --color-text-tertiary: #8e9295;

  --font-poppins: 'Poppins', sans-serif;
}
